<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Synergy</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="main">
  <div>

    <nav class="navbar navbar-expand-lg bg-primary  navbar-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" data-bs-target="#navItems" data-bs-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse ms-auto" id="navItems">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#" target="frameBody"><i class="bi bi-house-fill"></i>
                Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#exp" target="frameBody"><i
                  class="bi bi-question-circle"></i>About</a></li>
            <li class="nav-item"><a class="nav-link" href="#process" target="frameBody"><i
                  class="bi bi-gear"></i>Process</a></li>
            <li class="nav-item"><a class="nav-link" href="#history" target="frameBody"><i
                  class="bi bi-bookmark-fill"></i>Experience</a></li>
            <li class="nav-item"><a class="nav-link" href="#services" target="frameBody"><i
                  class="bi bi-question-circle"></i>Services</a></li>


          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#footer" target="frameBody"><i
                  class="bi bi-headset"></i>Contact us</a></li>

          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="details">
    <img src="images/123.jpg" width="300" height="300">
    <div id="top">
      <h1 style="font-family:'Courier New'">I'm </h1>
      <h1 style="font-family:'Courier New'">M.Peddi Reddy</h1>
    </div>

    <h5 style="font-family:'Courier New'">-BE(Mech), M.Tech(Thermal), Energy auditor(Bureau of Energy Efficiency)</h5>

  </div>



  <div class="experience " id="exp">
    <table style="font-family:'Courier New'">
      <tr>
        <td><img src="images/icon.png" width="300" height="200" alt=""></td>
        <td style="font-size: 20px; ">
          <div style="font-family:'Courier New'">M/s Synergy Engineering Solutions is promoted by technically qualified
            entrepreneur with a value engineering background, having 25 years of rich experience in Design, Operational
            and Maintenance of FDA approved bulk drug industries (API</b></div>
        </td>

      </tr>

    </table>

  </div>
  <div class="experience">
    <table style="font-family:'Courier New'">
      <tr>

        <td style="font-size: 20px; ">
          <div>-->Designing of Chemical plant (Green Field Projects – Mini sized) </div>
          <div>-->Designing of chemical plant process equipments </div>
          <div>-->Erection and commissioning of Chemical plant equipment’s</div>
          <div>-->Equipment Qualification / HVAC Validation- Services </div>
          <div>-->Support in Repair and Maintenance of equipment’s</div> </b>
        </td>

        <td><img src="images/pro.jpg" width="300" height="200"></td>
      </tr>
    </table>

  </div>

  <table class="experience" id="process">
    <tr>
      <td><img src="images/process.jpg"></td>
      <td>
        <b style="color:black ;">Optimization of Energy Consumption (Power & Steam) by</b>

        <ul>
          <li>
            Energy Audits
          </li>
          <li>
            Optimization of drive ratings
          </li>
          <li>
            Identifying energy wastages and plugging
          </li>
          <li>
            Improving the efficiency of utility system
            (By measuring existing data, indentifying route causes & correcting)
          </li>
          <li>
            Improving the utility systems efficiencies
          </li>
          <li>
            Sizing of utility lines
          </li>
          <li>
            Effective insulation for utility lines
          </li>
        </ul>


      </td>
    </tr>
  </table>
  <div class="process">
    <table>
      <tr>
        <td>
          <h4 style="color: rgb(0, 0, 0);">Process Time Cycle by studying and correcting </h4>
          <ul>
            <li>Sizing of condensing units</li>
            <li>Orientation of condensing units</li>
            <li>Height of vapour column</li>
            <li>Right / Suitable utility for the application</li>
            <li>Utility flows</li>
            <li>Heat transfer efficiency (Reactor Jackets & Condenser)</li>
            <li>Vacuum system </li>
          </ul>


        </td>
        <td style="margin-left:1000px;">
          <img src="images/set.jpg" width="300" height="200">
        </td>
      </tr>
    </table>
  </div>
  <div class="experience">
    <table>
      <tr>
        <td>
          <img src="images/cost.jpg">
        </td>
        <td>
          <h4 style="color: rgb(0, 0, 0);">Cost Controlling</h4>
          <ul>
            <li>
              By optimal use of water (Re- cycle , where ever possible)</li>
            <li>By optimization of water blow downs of cooling tower /boiler</li>
            <li> Re – condition of some of usable used parts</li>
            <li>• Effective use of man power

            </li>
          </ul>

        </td>
      </tr>
    </table>

  </div>
  <div class="experience">
    <table>
      <tr>
        <td>
          <ol>
            <li>Technical Advisor / Consultant for M/s Klio Pharma (Green Field Project - Tufran) </li>
            <li>
              Technical Advisor / Consultant for M/s Sodum drugs (Plant Refurbishing - Bollaram)
            </li>
            <li>
              Technical Advisor / Consultant for M/s Mahalakshmi Chemicals - Bhogaram
            </li>
            <li>
              Technical Advisor / Consultant for M/s Relixir Pharma ( Expansion ) -Ramayampet
            </li>
            <li>
              Technical Advisor / Consultant for M/s Rishika chemicals (Green Field) - Kagipally
            </li>
          </ol>
        </td>
        <td>
          <img src="images/download.jpg" width="300" height="300">
        </td>

      </tr>
    </table>
  </div>

  <div class="experience" id="history">
    <table>

      <td>
        <img src="images/exp.jpg">
      </td>
      <td>
        <div class="bg"> I , Peddi Reddy, having over 25 years of rich cross-functional experience with well-known
          organisations <b>Dr.Reddy’s & M/s Aurore Ls complimented</b> by a
          <b>M.Tech (Thermal Engineering) from Jawaharlal Nehru Technological University, Hyderabad, as well Certified
            Energy Auditor cum Manger (BEE -A Bureau of Energy efficiency Govt of India)</b>
        </div>

        <div class="bg">I handled role of “Engineering Head “responsibility at <b>Dr.Reddy’s with designation as
            Associate director (2004 to 2017 for all three API units of IDA boll ram )
            I handled role of “Project head “at M/s Aurore life sciences as “General manager” </b> (Engg/ Projects) from
          Sep”17 to Jan ”21 and cost of project is about Rs, 90 Crs
        </div>

        <div class="bg">As part of carrier / professional growth, i have started the own business with name of
          “M/s Synergy engineering solutions “to utilize my<b> 25 years of chemical filed experience</b>
          for the industry
        </div>
      </td>

    </table>




  </div>
  <div id="services" class="experience" style="text-align:center;">
    <h3 style="color:black ;">
      Services Offered:
    </h3>
    <ol style="color: rgb(255, 0, 55);">
      <li>
        Consultancy services for Energy Adult and Energy Effisiencys
      </li>
      <li>
        Technical Services for Design and Execution of chemical palnt
      </li>
      <li>
        Repair and Maintenance of Chemical Equipments
      </li>
      <li>
        Supply and Installation of Chemical Equipments
      </li>
      <li>
        Supply of Food Grade Gaskers,Gland Packings,Expanded Gaskets,Food Grade oils,Valves etc.
      </li>
      <li>
        Calibration Services
      </li>

    </ol>

  </div>

  <div class="footers" id="footer">
    <h4>Contack Us</h4>
    <div class="row">
      <div>
        <a
          href="https://www.google.com/maps/place/Allwyn+X+Road,+Indra+Reddy+Allwyn+Colony,+Hafeezpet,+Hyderabad,+Telangana+500049/@17.4933687,78.3513209,17.96z/data=!4m9!1m2!2m1!1sMiyapur+Allwyn+X+Roads,+Allwyn+X+Road,+Widia+Colony,+Hafeezpet,+Hyderabad,+Telangana+indhra+reddy!3m5!1s0x3bcb9268f4d8a533:0x149456e6903601fd!8m2!3d17.4925597!4d78.3518657!15sCmFNaXlhcHVyIEFsbHd5biBYIFJvYWRzLCBBbGx3eW4gWCBSb2FkLCBXaWRpYSBDb2xvbnksIEhhZmVlenBldCwgSHlkZXJhYmFkLCBUZWxhbmdhbmEgaW5kaHJhIHJlZGR5kgEMbmVpZ2hib3Job29k"><i
            class="bi bi-geo-alt-fill"></i>Location</a>
      </div>
      <div>
        <i class="bi bi-envelope-fill">peddireddymaguluri@gmail.com</i>


      </div>
      <div>
        <i class="bi bi-envelope-fill">reddym_p@yahoo.co.in</i>
      </div>
      <div>
        <i class="bi bi-telephone-fill" style="color:rgb(128, 0, 0) ;">9989058856</i>
      </div>

    </div>

  </div>


  <script src="../node_modules/jquery/dist/jquery.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>